{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'pollapp/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Poppins:wght@200&family=Praise&family=Roboto&display=swap" rel="stylesheet">
	{% block title %}{% endblock %}

</head>
<body>

	{% block content %}{% endblock %}

</body>
</html>